@model ErrorViewModel
@{
    ViewData["Title"] = Model.Status == 404 ? "Not found" : "Error";
}

<h1>@ViewData["Title"]</h1>

@switch (Model.Status)
{
    case 404:
        <p>The requested content was not found.</p>
        break;
    default:
        <p>An error occured while processing your request.</p>
        break;
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
