@model IEnumerable<Note.Core.Entities.Book>
@using Note.MVCWebApp.Models

@{
    ViewData["Title"] = "Books";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Books</li>
    </ol>
</nav>

<h1>Books</h1>

<section>
    <ul>
        @if (Auth.IsAuthenticated)
        {
            <li>
                <a class="ajax-modal-form-trigger" data-url="@Url.Action("Create", "ManageBooks")" data-title="New book">New...</a><br />
            </li>
        }
        @foreach (var book in Model)
        {
            <li>
                <a asp-action="Book" asp-controller="Notes" asp-route-bookSlug="@book.Slug">@book.Title</a>
            </li>
        }
    </ul>
</section>
